.accordion-section {
    margin-bottom: 10px;
  }
  
  .accordion-title {
    background-color: #f9f9f9;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .accordion-title:hover,
  .accordion-title:focus {
    background-color: #45C556;
  }
  
  .accordion-content {
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
  }
  