


.button {
    padding: 8px 15px;
    background-color: #38AE3B;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
  }
  
  .button:hover {
    background-color: #75F6A9;
  }
  
 
  .button-link{
    padding: 8px;
    border: none;
    background: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
  }
  
  .button-link:hover {
    text-decoration: none;
    color: #0056b3;
  }
  